<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <c-row ngPreserveWhitespaces> -->
  
<!--CARDS DE ETAT ROBOT-->
<c-row>
  <c-col xs="12"> </c-col>
  <c-col xs="12" lg="12">
    <c-card class="mb-4">
      <c-card-header> Statistique générale </c-card-header>
      <c-card-body>
        <c-row>
          <c-col lg="6" sm="6" xs="12">
            <c-widget-stat-f
            [title]="'Nombre de robot'"
            class="mb-3"
            color="success"
            padding
            value="{{NbreRobot}}"
          >
              <ng-template cTemplateId="widgetIconTemplate">
                <svg cIcon name="cilUser" size="xl" width="24"></svg>
              </ng-template>
            </c-widget-stat-f>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<!--CARDS DE ETAT ROBOT-->

<h2>Liste des robots</h2>
<!--MODAL ROBOT-->
<!-- <button class="btn btn-outline-primary mb-2 me-2" (click)="open(content)">
  Ajouter
</button> -->
<!--MODAL ROBOT-->

<!--MODAL CREATION-->
<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nouvel spécialité</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form cForm class="row g-3">
      <c-col [xs]="12">
        <label cLabel for="libelle">Libelle *</label>
     
        <input
        cFormControl
        id="libelle"
        name="libelle"
        placeholder="Libelle"
        required
      />
      </c-col>

      <div cFormFloating>
        <textarea
          [ngStyle]="{ 'height.px': 100 }"
          cFormControl
          id="description"
          name="description"
          required
        >
        </textarea>
        <label cLabel for="floatingTextarea2">Description</label>
      </div>

      <div class="mb-3">
        
        <input
          aria-label="file example"
          cFormControl
          id="image"
          name="image"
          type="file"
          required
        />
        <c-form-feedback [valid]="false"
          >Example invalid form file feedback</c-form-feedback
        >
      </div>
    </form>
  </div>
 
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Créer
    </button>
  </div>
</ng-template> -->
<!--MODAL CREATION-->



  <!-- Table list utilisateur -->
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Utilisateurs</c-card-header>
      <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0 border"
      >
        <thead cTableColor="light">
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Localiter</th>
            <th>Agriculteur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let robot of robots
            | paginate : { itemsPerPage: 4, currentPage: p };
          let id = index">
          <td>
            {{ id+1 }}
          </td>
        
            <td>
              <div class="txt">{{ robot.date | date:'yy/dd/yyyy HH:mm:ss' }}</div>
            </td>
            <td class="txt">
              {{ robot.longitude }}
            </td>
            <td class="text-center">
              {{ robot.latitude }}
            </td>
            <td class="txt">
              Bamako, Mali
            </td>

            <td class="text-center">
              <c-badge color="success">
                <span class="valid">{{ robot.agriculteur.nomEtPrenom }}</span>
              </c-badge>
            </td>
           
    

          </tr>
        </tbody>
      </table>
    </c-card>
  </c-col>
</c-row>
<!-- Table list utilisateur -->



<div class="listvide" *ngIf="NbreRobot==0">
  <label>Il n'y existe pas encore de robot actifs</label>
  </div>

  <!--PAGINATION DE TABLE-->
<div class="pagination">
<pagination-controls color="success" (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls>
</div>
<!--PAGINATION DE TABLE-->
