.txt{
    font-size: 13px;
}
.listvide{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20%;
}
.pagination {
    position: relative;
    margin-top: 4%;
    margin-left: 29%;
  }
  .pagination ::ng-deep .ngx-pagination .current {
    background-color: #52A8FF; }
  
  .pagination {
    display: flex;
    // justify-content: center;
    margin-top: 4%;
    margin-left: 31%;
  }