<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Se connecter </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../../assets/images/7-removebg-preview.png" id="icon" alt="User Icon"  width="80" height="160"/>
        <!-- <img src="https://cdn4.iconfinder.com/data/icons/doctor-icons/100/02-1Doctor-512.png" id="icon" alt="User Icon"  width="20" height="20" class="img-thumbnail"/> -->
        <!-- <i class="fa fa-heartbeat" style="font-size:48px;color:rgb(86, 186, 237)"></i> -->
      </div>
  
      <!-- Login Form -->
      <!-- <form> -->
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate class="feedback-form">
        <input type="text"
                autoComplete="username" 
                cFormControl 
                placeholder="Username" 
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
                      minlength="3"
                      />
                      <div *ngIf="username.errors && f.submitted">
                        <div *ngIf="username.errors['required']" class="message">Le nom d'utilisateur est requis!</div>
                        <div *ngIf="username.errors['minlength']" class="message">
                          Le nom d'utilisateur doit contenir au moins trois(3) caractères!
                        </div>
                        <div *ngIf="username.errors['maxlength']"  class="message">
                            Le nom d'utilisateur ne doit pas depasser vinght(20) caractères!
                        </div>
                      </div>
  
        <input type="password"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Mot de passe"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    #password="ngModel"
                        />
                        <div
                        *ngIf="password.errors && f.submitted"
                      >
                        <div *ngIf="password.errors['required']" class="message">Le mot de passe est requis!</div>
                        <div *ngIf="password.errors['minlength']" class="message">
                          Le mot de passe ne doit pas depasser six(6) caractères
                        </div>
                    </div>
  
  
        <div *ngIf="popupResult == false" class="alert alert-danger" role="alert">
            {{popupMessage}}
        </div>
        <input type="submit" class="fadeIn fourth" value="Se connecter">
      </form>
      <!-- </form> -->
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
        
        <span class="underlineHover">Veuillez saisir vos informations d'identification</span>
        <!-- <span class="underlineHover">Selon votre profil</span> -->
      </div>
  
    </div>
  </div>