<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <c-row ngPreserveWhitespaces> -->
  
<!--CARDS DE ETAT ROBOT-->
<c-row>
  <c-col xs="12"> </c-col>
  <c-col xs="12" lg="12">
    <c-card class="mb-4">
      <c-card-header> Statistique generale </c-card-header>
      <c-card-body>
        <c-row>
          <c-col lg="6" sm="6" xs="12">
            <!-- <c-widget-stat-f
              [title]="'Nombre de specialite'"
              class="mb-3"
              color="info"
              padding
              value="{{NbreSpecialite}}"
            > -->
            <c-widget-stat-f
            [title]="'Nombre de robot'"
            class="mb-3"
            color="info"
            padding
          >
              <ng-template cTemplateId="widgetIconTemplate">
                <svg cIcon name="cilUser" size="xl" width="24"></svg>
              </ng-template>
            </c-widget-stat-f>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<!--CARDS DE ETAT ROBOT-->

<h2>Liste des robot</h2>
<!--MODAL ROBOT-->
<button class="btn btn-outline-primary mb-2 me-2" (click)="open(content)">
  Ajouter
</button>
<!--MODAL ROBOT-->

<!--MODAL CREATION-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nouvel spécialité</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form cForm class="row g-3">
      <c-col [xs]="12">
        <label cLabel for="libelle">Libelle *</label>
        <!-- <input
          cFormControl
          id="libelle"
          name="libelle"
          placeholder="Libelle"
          [(ngModel)]="libelle"
          required
        /> -->
        <input
        cFormControl
        id="libelle"
        name="libelle"
        placeholder="Libelle"
        required
      />
      </c-col>

      <div cFormFloating>
        <!-- <textarea
          [ngStyle]="{ 'height.px': 100 }"
          cFormControl
          id="description"
          name="description"
          [(ngModel)]="description"
          required
        >
        </textarea> -->
        <textarea
          [ngStyle]="{ 'height.px': 100 }"
          cFormControl
          id="description"
          name="description"
          required
        >
        </textarea>
        <label cLabel for="floatingTextarea2">Description</label>
      </div>

      <div class="mb-3">
        <!-- <input
          aria-label="file example"
          cFormControl
          id="image"
          name="image"
          type="file"
          (change)="recuperationImg($event)"
          required
        /> -->
        <input
          aria-label="file example"
          cFormControl
          id="image"
          name="image"
          type="file"
          required
        />
        <c-form-feedback [valid]="false"
          >Example invalid form file feedback</c-form-feedback
        >
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
      (click)="Create()"
    >
      Creer
    </button>
  </div> -->
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Créer
    </button>
  </div>
</ng-template>
<!--MODAL CREATION-->




  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Liste d'etats des robots</strong>
      </c-card-header>


      <c-card-body>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-box clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Identifiant</span></th>
                        <th><span>Etat</span></th>
                        <th><span>Position</span></th>
                        <th><span>Agriculteur</span></th>
                        <th><span>Action</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          #1
                        </td>
                        <td class="text-center">
                          <span class="label label-default">Actif</span>
                        </td>
                        <td>
                          <span class="label label-default"> Bamako,Missabougou</span>
                        </td>
                        <td>
                          <span class="label label-default"> USER1</span>
                        </td>
                        <td style="width: 20%;">
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link danger">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          #2
                        </td>
                        <td class="text-center">
                          <span class="label label-default">Inactif</span>
                        </td>
                        <td>
                          <span class="label label-default">_</span>
                          
                        </td>
                        <td>
                          <span class="label label-default"> _</span>
                        </td>
                        <td style="width: 20%;">
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link danger">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          #3
                        </td>
                        <td class="text-center">
                          <span class="label label-default">Actif</span>
                        </td>
                        <td>
                          <span class="label label-default"> Bamako,Missabougou</span>
                          
                        </td>
                        <td>
                          <span class="label label-default"> USER1</span>
                        </td>
                        <td style="width: 20%;">
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link danger">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
      </c-card-body>
    </c-card>
  </c-col>
 