<!--CARDS DE ETAT ROBOT-->
<c-row>
    <c-col xs="12"> </c-col>
    <c-col xs="12" lg="12">
      <c-card class="mb-4">
        <c-card-header> Statistique generale </c-card-header>
        <c-card-body>
          <c-row>
            <c-col lg="6" sm="6" xs="12">
              <c-widget-stat-f
                [title]="'Nombre de formation'"
                class="mb-3"
                color="info"
                padding
                value="{{NbreFomation}}"
              >
                <ng-template cTemplateId="widgetIconTemplate">
                  <svg cIcon name="cilUser" size="xl" width="24"></svg>
                </ng-template>
              </c-widget-stat-f>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <!--CARDS DE ETAT ROBOT-->

  <h2>Liste de formation</h2>
<!--MODAL ROBOT-->
<button class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)">
  Ajouter
</button>
<!--MODAL ROBOT-->

<!--MODAL CREATION-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nouvelle formation</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="d('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form cForm class="row g-3">
        <c-col [xs]="12">
          <label cLabel for="titre">Titre *</label>
          <input
            cFormControl
            id="titre"
            name="titre"
            placeholder="Titre"
            [(ngModel)]="titre"
            type="text" 
            required
          />
          
        </c-col>
  
        <c-col [xs]="12">
            <label cLabel for="subtitle">Sous titre *</label>
            <input
              cFormControl
              id="subtitle"
              name="subtitle"
              placeholder="Sous Titre"
              [(ngModel)]="subtitle"
              required
            />
          </c-col>

          <c-col [xs]="12">
            <label cLabel for="idCat">Catégorie *</label>
            <select aria-label="Default select example" cSelect id="idCat" name="idCat" [(ngModel)]="idCat">
              <option selected disabled>--choisir une categorie--</option>
              <option *ngFor="let sp of categories" value="{{sp.id}}">{{sp.titre}}</option>
            </select>
          </c-col>

          <c-col [xs]="12">
            <label cLabel for="instructeur">Instructeur *</label>
            <input
              cFormControl
              id="instructeur"
              name="instructeur"
              placeholder="Instructeur"
              [(ngModel)]="instructeur"
              required
            />
          </c-col>

        <div cFormFloating>
          <textarea
            [ngStyle]="{ 'height.px': 100 }"
            cFormControl
            id="description"
            name="description"
            [(ngModel)]="description"
            required
          >
          </textarea>
          <label cLabel for="floatingTextarea2">Description *</label>
        </div>
  
        <div class="mb-3">
          <input
            aria-label="file example"
            cFormControl
            id="image"
            name="image"
            type="file"
            (change)="recuperationImg($event)"
            required
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="c('Save click')"
        (click)="onCreate()"
      >
        Créer
      </button>
    </div>
    
</ng-template>
<!--MODAL CREATION-->



<!--SEARCH-->
<c-input-group class="input-prepend"  style="margin-bottom: 10px;width: 45%;">
    <span cInputGroupText>
      <svg cIcon name="cilMagnifyingGlass"></svg>
    </span>
    <input
      name="search"
      [(ngModel)]="searchText"
      cFormControl
      placeholder="Rechercher"
      type="text"
    />
    <button cButton color="info">Search</button>
  </c-input-group>
  <!--SEARCH-->



<!-- Table list formation -->
  <c-row>
    <c-col xs>
      <div class="listvide" *ngIf="NbreFomation==0">
        <label>Il n'y existe pas encore de formation</label>
        </div>

      <c-card class="mb-4" *ngIf="NbreFomation">
        <c-card-header>Formation</c-card-header>

        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Titre</th>
              <th>Sous-titre</th>
              <th>Instructeur</th>
              <th>Description</th>
              <th>Catégorie</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of formation
              | paginate : { itemsPerPage: 4, currentPage: p };
            let id = index">
            <td>
              {{ id+1 }}
            </td>
          <td>
            <div>
          <img *ngIf="f.image" [src]="env.baseUrl + f.image" alt="image" style="width: 100px; height: 90px;">
        </div>
				<div>
          <img *ngIf="!f.image" src="src/assets/images/legumes.jpeg" alt="default image" style="width: 100px; height: 90px;">
				</div>

          </td>
              <td>
                <div class="txt">{{ f.title }}</div>
              </td>
              <td class="text-center" style="font-size: 13px;">
                {{ f.subtitle }}
              </td>
              <td class="txt">
                {{ f.instructeur }}
              </td>
              <td class="txt">
                {{ f.description }}
              </td>
              <td class="txt">
                {{ f.categories.titre }}
              </td>
              <td class="txt">
                {{ f.date }}
              </td>
              <td class="text-center">
                <div class="btn-group">
                  <!-- <a
                    class="btn btn-success"
                    routerLink="/base/update-categorie/{{sp.id}}"
                    title="Modifier"
                    ><i class="fa-solid fa-pen-to-square"></i
                  ></a> -->
                  <a
                    class="btn btn-success"
                    title="Modifier"
                    ><i class="fa-solid fa-pen-to-square"></i
                  ></a>
                  <!-- <a class="btn btn-danger" title="Supprimer"  (click)="deletePopUp(sp.id)"
                    ><i class="fa-solid fa-trash"></i
                  ></a> -->
                  <a class="btn btn-danger" title="Supprimer"
                    ><i class="fa-solid fa-trash"></i
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card>
    </c-col>
  </c-row>
  <!-- Table list formation -->
  
    <!--PAGINATION DE TABLE-->
<div class="pagination">
  <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls>
</div>
<!--PAGINATION DE TABLE-->







  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Liste des formations</strong>
      </c-card-header>
      <c-card-body>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-box clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Identifiant</span></th>
                        <th><span>Titre</span></th>
                        <th><span>Image</span></th>
                        <th><span>Description</span></th>
                        <th><span>Categories</span></th>
                        <th><span>Action</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          #1
                        </td>
                        <td class="text-center">
                          <span class="label label-default">Haricot</span>
                        </td>
                        <td>
                          <img src="assets/images/legumes.jpeg" alt="">
                        </td>
                        <td class="text-center">
                          <span class="label label-default">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id perspiciatis qui a nisi. Ducimus voluptate cupiditate ullam accusamus autem a quam incidunt dolorem natus repudiandae neque praesentium, illo amet distinctio.
                          </span>
                        </td> <td class="text-center">
                          <span class="label label-default">Haricot</span>
                        </td>
                        <td style="width: 20%;">
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link danger">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          #2
                        </td>
                        <td class="text-center">
                          <span class="label label-default">Comcombre</span>
                        </td>
                        <td>
                          <img src="assets/images/legumes.jpeg" alt="">
                        </td>
                        <td class="text-center">
                          <span class="label label-default">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita atque quos, ex eligendi molestiae voluptatibus obcaecati nihil facilis quod, porro totam voluptas nam laboriosam quia debitis labore repellendus suscipit odio.
                          </span>
                        </td> <td class="text-center">
                          <span class="label label-default">Légume</span>
                        </td>
                        <td style="width: 20%;">
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link danger">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          #3
                        </td>
                        <td class="text-center">
                          <span class="label label-default">Mangues</span>
                        </td>
                        <td>
                          <img src="assets/images/legumes.jpeg" alt="">
                        </td>
                        <td class="text-center">
                          <span class="label label-default">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nesciunt, recusandae magni quaerat assumenda dolore cumque est aperiam pariatur ea esse vel in sint, quidem illo fugiat molestias ut fuga.
                          </span>
                        </td> <td class="text-center">
                          <span class="label label-default">Fruits</span>
                        </td>
                        <td style="width: 20%;">
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                          <a href="#" class="table-link danger">
                            <span class="fa-stack">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
      </c-card-body>
    </c-card>
  </c-col>
 
