<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Liste des Robots</strong>
        </c-card-header>
        <c-card-body>
            <button type="button" class="btn btn-primary">Ajouter</button>
        
          <app-docs-example href="components/table">
            <table cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
  
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>markgmail.com</td>
                <td>***********</td>
                <td>
                  <button type="button" class="btn btn-primary"></button>
                  <button type="button" class="btn btn-warning">Primary</button>
                  <button type="button" class="btn btn-danger">Primary</button>
                  
              </td>
              </tr>
              </tbody>
            </table>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
   