<!--CARDS DE ETAT ROBOT-->
<c-row>
  <c-col xs="12"> </c-col>
  <c-col xs="12" lg="12">
    <c-card class="mb-4">
      <c-card-header> Statistique generale </c-card-header>
      <c-card-body>
        <c-row>
          <c-col lg="6" sm="6" xs="12">
            <c-widget-stat-f
              [title]="'Nombre de catégories'"
              class="mb-3"
              color="info"
              padding
              value="{{NbreCategorie}}"
            >
              <ng-template cTemplateId="widgetIconTemplate">
                <svg cIcon name="cil-list" size="xl" width="24"></svg>
              </ng-template>
            </c-widget-stat-f>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<!--CARDS DE ETAT ROBOT-->

<h2>Liste de catégories</h2>
<!--MODAL ROBOT-->
<button class="btn btn-outline-primary mb-2 me-2" (click)="open(content)">
  Ajouter
</button>
<!--MODAL ROBOT-->

<!--MODAL CREATION-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nouvelle catégorie</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form cForm class="row g-3">
      <c-col [xs]="12">
        <label cLabel for="titre">Titre *</label>
        <input
          cFormControl
          id="titre"
          name="titre"
          placeholder="Titre"
          [(ngModel)]="titre"
          required
        />

      </c-col>

      <div cFormFloating>
        <textarea
          [ngStyle]="{ 'height.px': 100 }"
          cFormControl
          id="description"
          name="description"
          [(ngModel)]="description"
          required
        >
        </textarea>
        <label cLabel for="floatingTextarea2">Description *</label>
      </div>

      <div class="mb-3">
        <input
          aria-label="file example"
          cFormControl
          id="image"
          name="image"
          type="file"
          (change)="recuperationImg($event)"
          required
        />
       
        <c-form-feedback [valid]="false"
          >Example invalid form file feedback</c-form-feedback
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
      (click)="Create()"
    >
      Créer
    </button>
  </div>
  
</ng-template>
 <!--MODAL CREATION-->


 <!-- MODAL DÉTAILS CATÉGORIE -->
<ng-template #details let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Détails de la catégorie</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form cForm class="row g-3">
      <c-col [xs]="12">
        <label cLabel for="titre">Titre : </label>
        <input
          cFormControl
          id="titreDetails"
          name="titre"
          placeholder="Titre"
          [(ngModel)]="selectedCategory.titre"
          disabled
        />
      </c-col>

      <div cFormFloating>
        <textarea
          [ngStyle]="{ 'height.px': 100 }"
          cFormControl
          id="descriptionDetails"
          name="description"
          [(ngModel)]="selectedCategory.description"
          disabled
        >
        </textarea>
        <label cLabel for="floatingTextarea2">Description : </label>
      </div>
      <div class="mb-9">
        <img
          *ngIf="selectedCategory.image"
          [src]="env.baseUrl + selectedCategory.image"
          alt="image"
          style="width: 100%; max-width: 100%; height: 300px; border-radius: 10px; object-fit: cover;"
        />
      </div>
      
      
    </form>
    <!-- <div class="col-lg-12">
      <div class="card mb-8">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Titre</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{selectedCategory.titre}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">{{ selectedCategory.description }}</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Description</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card mb-8">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Image</p>
            </div>
            <hr>
            <div class="col-sm-9">
              <img
          *ngIf="selectedCategory.image"
          [src]="env.baseUrl + selectedCategory.image"
          alt="image"
          style="width: 100px; height: 90px;"
        />
            </div>
          </div>
        </div>
      </div>
    </div>     -->
  </div>
</ng-template>
 <!-- MODAL DÉTAILS CATÉGORIE -->



<c-input-group class="input-prepend"  style="margin-bottom: 10px;width: 45%;">
  <span cInputGroupText>
    <svg cIcon name="cilMagnifyingGlass"></svg>
  </span>
  <input
    name="search"
    [(ngModel)]="searchText"
    cFormControl
    placeholder="Rechercher"
    type="text"
  />
  <button cButton color="info">Search</button>
</c-input-group>


<!--TABLE DE CATEGORIE-->
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Liste des Categories
      </c-card-header>

      <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0 border"
      >
        <thead cTableColor="light">
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Image</th>
            <th class="text-center">Titre</th>
            <th class="text-center">Description</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let sp of categories | filter : searchText
		  | paginate : { itemsPerPage: 4, currentPage: p };
		let id = index"> -->
    <tr *ngFor="let sp of categories
		  | paginate : { itemsPerPage: 4, currentPage: p };
		let id = index">
        <td class="text-center">
          {{ sp.id}}
        </td>
            <td class="text-center">
				<!-- <div>
					<img *ngIf="sp.image" src="{{ sp.image }}" alt=""
					style="width: 100px; height: 90px;">
				</div> -->
        <div>
          <img *ngIf="sp.image" [src]="env.baseUrl + sp.image" alt="image" style="width: 100px; height: 90px;">
        </div>
				<div>
          <img *ngIf="!sp.image" src="src/assets/images/legumes.jpeg" alt="default image" style="width: 100px; height: 90px;">
				</div>
            </td>
            <td class="text-center">
              <div>{{ sp.titre }}</div>
              <div class="small text-medium-emphasis text-nowrap"></div>
            </td> 
            <td class="text-center">
              {{ sp.description }}
            </td>
            <td class="text-center">
              <div class="btn-group">
                <a id="btn-1" class="btn btn-outline-primary" (click)="openDetails(details, sp.id)" title="Details">
                  <i class="far fa-eye"></i>
                </a>
                  <a
                  class="btn btn-success"
                  routerLink="/dashboard/update-categorie/{{sp.id}}"
                  title="Modifier"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
                <a class="btn btn-danger" title="Supprimer"  (click)="deletePopUp(sp.id)"
                  ><i class="fa-solid fa-trash"></i
                ></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card>
  </c-col>
</c-row>
<!--TABLE DE CATEGORIE-->

<div class="listvide" *ngIf="NbreCategorie == 0">
  <label>Aucune catégorie creer</label>
</div>


    <!--PAGINATION DE TABLE-->
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls>
    </div>
  <!--PAGINATION DE TABLE-->