<c-row>
  <c-col lg="6">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Angular Badges</strong> <small>Positioned</small>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Use position prop to modify a component and position it in the corner of a link or button.
        </p>
        <app-docs-example href="components/badge#positioned">
          <button cButton color="primary" class="position-relative mx-2">
            Profile
            <c-badge color="danger" position="top-end" shape="rounded-pill">99+</c-badge>
            <span class="visually-hidden">unread messages</span>
          </button>
          <br>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

